@import "variables/app-variables";

body{
    background: $app-background;
}

.welcome-carousel{
    align-content: center;
    height: 500px;
    width: 100%;
}
.hotel-carousel{
    display: block;
}


.navbar-hotel{
    background: $theme-color-nav;
    color: white;
}

.nav-link{
    color: white;
}

.mobile-view-nav-options,.mobile-view-nav{
    display: none;
}


.del-btn{
    float: right;
    background: $theme-color-nav;
    color: white;
    text-shadow: none;
}

.panel-footer{
    text-align: center;
    font-size: 12px;
    padding:20px;
    
    .social-connect{
        float:right;
    }
    a{
        color: white;
        &:visited{
            color: white;
        }
        &:hover{
            color: $app-background;
        }
    }
}

.container{
    padding:8%;
    border: 2px solid $line-color;
    box-shadow: 5px 5px 30px $line-color;
}
.footer-container{
    padding-top:10px;
}


@media screen and (max-width:$mobile-max-screen-width){
    .hotel-carousel,.desktop-view-nav{
        display: none;
    }
    
    .mobile-view-nav{
        background: $theme-color-nav;
        display: block;
        padding: 20px;
    }
    
    .mobile-view-nav-options{
        display: block;
        margin-bottom:20%;
        .btn{
            margin-top: 2%;
            margin-bottom:2%;
            padding: 2%;
            color: white;
            font-size: 80%;
            text-shadow: none;
            background: $theme-btn;
            border: 5px solid $line-color;
            
            &:hover{
                background: $theme-btn-hover;
                color: white;
            }
        }
    }
    .brand-name-mobile{
        width: 80%;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    .nav-btn{
        color: white;
        &:hover{
            color: white;
            opacity: 0.8;
            text-decoration: none;
        }
        &:visited,&:link{
            color: white;
            text-decoration: none;
        }
    }
}


