<div class='mobile-view-nav-options'>
    <a class="btn btn-block btn-default" href="#/">
        <i class="fa fa-home fa-2x"></i>Home
    </a>
    <a class="btn btn-block btn-default" href="#/">
        <i class="fa fa-picture-o fa-2x"></i>
        Gallery
    </a>
    <a class="btn btn-block btn-default" href="#/reserve">
        <i class="fa fa-book fa-2x"></i>
        Reservation
    </a>
</div>

<div id="hotel-display" class="carousel slide hotel-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#hotel-display" data-slide-to="0" class="active"></li>
        <li data-target="#hotel-display" data-slide-to="1"></li>
        <li data-target="#hotel-display" data-slide-to="2"></li>
        <li data-target="#hotel-display" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <a href="#/gallery">
        <div class="carousel-inner" role="listbox">
            <div class="item active welcome-carousel">
                <img src="img/hotel1.jpg" class="welcome-carousel" alt="hotel outerview">
            </div>

            <div class="item welcome-carousel">
                <img src="img/hotel2.jpg" class="welcome-carousel"alt="hotel outerview">
            </div>

            <div class="item welcome-carousel">
                <img src="img/interior1.jpg" class="welcome-carousel" alt="hotel interior">
            </div>

            <div class="item welcome-carousel">
                <img src="img/interior2.jpg" class="welcome-carousel" alt="hotel interior">
            </div>
        </div>
    </a>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#hotel-display" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#hotel-display" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="info">
    <div ng-repeat="info in hotelInfo">
        <img ng-src="{{info.img_src}}"/>
        <h3>{{info.title}}</h3>
        <p>{{info.content}}</p>
    </div>
</div>