<div class="reservation">
    <div class="row reservation-option ">
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
            <a href="#/form-reservation" class="btn btn-default btn-reserve">
                <i class="fa fa-plus fa-5x"></i>
                <br>
                    New 
                <br>
                    Reservation
            </a>
            <a href="#/edit-reservation" class="btn btn-default btn-reserve">
                <i class="fa fa-pencil-square-o fa-5x"></i>
                <br>
                    Edit 
                <br> 
                    Reservation
            </a>
        </div>
        <div class="col-lg-4 col-md-4"></div>
    </div>
</div>
    