$mobile-max-screen-width:770px;
$theme-color-nav:#990000;
$block-color-card-odd:#905050;
$block-color-card-even:#9018A0;
$line-color:#B8B8B8;

$theme-btn:#AA0000;

$theme-btn-hover:#880000;
$app-background:#DCDA9C;