/* line 3, ../sass/app-style.scss */
body {
  background: #DCDA9C;
}

/* line 7, ../sass/app-style.scss */
.welcome-carousel {
  align-content: center;
  height: 500px;
  width: 100%;
}

/* line 12, ../sass/app-style.scss */
.hotel-carousel {
  display: block;
}

/* line 17, ../sass/app-style.scss */
.navbar-hotel {
  background: #990000;
  color: white;
}

/* line 22, ../sass/app-style.scss */
.nav-link {
  color: white;
}

/* line 26, ../sass/app-style.scss */
.mobile-view-nav-options, .mobile-view-nav {
  display: none;
}

/* line 31, ../sass/app-style.scss */
.del-btn {
  float: right;
  background: #990000;
  color: white;
  text-shadow: none;
}

/* line 38, ../sass/app-style.scss */
.panel-footer {
  text-align: center;
  font-size: 12px;
  padding: 20px;
}
/* line 43, ../sass/app-style.scss */
.panel-footer .social-connect {
  float: right;
}
/* line 46, ../sass/app-style.scss */
.panel-footer a {
  color: white;
}
/* line 48, ../sass/app-style.scss */
.panel-footer a:visited {
  color: white;
}
/* line 51, ../sass/app-style.scss */
.panel-footer a:hover {
  color: #DCDA9C;
}

/* line 57, ../sass/app-style.scss */
.container {
  padding: 8%;
  border: 2px solid #B8B8B8;
  box-shadow: 5px 5px 30px #B8B8B8;
}

/* line 62, ../sass/app-style.scss */
.footer-container {
  padding-top: 10px;
}

@media screen and (max-width: 770px) {
  /* line 68, ../sass/app-style.scss */
  .hotel-carousel, .desktop-view-nav {
    display: none;
  }

  /* line 72, ../sass/app-style.scss */
  .mobile-view-nav {
    background: #990000;
    display: block;
    padding: 20px;
  }

  /* line 78, ../sass/app-style.scss */
  .mobile-view-nav-options {
    display: block;
    margin-bottom: 20%;
  }
  /* line 81, ../sass/app-style.scss */
  .mobile-view-nav-options .btn {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    color: white;
    font-size: 80%;
    text-shadow: none;
    background: #AA0000;
    border: 5px solid #B8B8B8;
  }
  /* line 91, ../sass/app-style.scss */
  .mobile-view-nav-options .btn:hover {
    background: #880000;
    color: white;
  }

  /* line 97, ../sass/app-style.scss */
  .brand-name-mobile {
    width: 80%;
    color: white;
    font-size: 18px;
    text-align: center;
  }

  /* line 103, ../sass/app-style.scss */
  .nav-btn {
    color: white;
  }
  /* line 105, ../sass/app-style.scss */
  .nav-btn:hover {
    color: white;
    opacity: 0.8;
    text-decoration: none;
  }
  /* line 110, ../sass/app-style.scss */
  .nav-btn:visited, .nav-btn:link {
    color: white;
    text-decoration: none;
  }
}
