/* line 2, ../sass/reservation.scss */
.reservation {
  background-image: url("../img/reservation/reservation_background.jpeg");
  background-position: 10% 30%;
}

/* line 6, ../sass/reservation.scss */
.reservation-option {
  padding-top: 15%;
  padding-bottom: 15%;
}

/* line 11, ../sass/reservation.scss */
.btn-reserve {
  color: green;
  border-radius: 30px;
}
/* line 15, ../sass/reservation.scss */
.btn-reserve:hover {
  color: white;
  text-shadow: none;
  background: green;
}

/* line 21, ../sass/reservation.scss */
.new-reservation {
  margin: 5%;
}

/* line 24, ../sass/reservation.scss */
.btn-submit {
  font-size: 18px;
  width: 40%;
  margin-left: 5%;
  background: #006600;
  text-shadow: none;
  color: white;
}
/* line 32, ../sass/reservation.scss */
.btn-submit:hover {
  background: #006600;
  text-shadow: none;
  color: white;
  opacity: 0.8;
}

/* line 40, ../sass/reservation.scss */
.btn-cancel {
  font-size: 18px;
  width: 40%;
  margin-left: 5%;
  background: #990000;
  text-shadow: none;
  color: white;
}
/* line 48, ../sass/reservation.scss */
.btn-cancel:hover {
  background: #990000;
  text-shadow: none;
  color: white;
  opacity: 0.8;
}

@media screen and (max-width: 770px) {
  /* line 56, ../sass/reservation.scss */
  .reservation {
    height: 100%;
    background-image: none;
  }

  /* line 60, ../sass/reservation.scss */
  .btn-reserve {
    display: block;
  }

  /* line 63, ../sass/reservation.scss */
  .new-reservation {
    margin: 0%;
  }

  /* line 66, ../sass/reservation.scss */
  .btn-submit {
    display: block;
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }

  /* line 72, ../sass/reservation.scss */
  .btn-cancel {
    display: block;
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }
}
